.header{
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: radial-gradient(closest-side at 700px 280px,  red, black);
    background-repeat: no-repeat;
    height: 40px;
}
.navbar{
	background-color: transparent;
	font-family:calibri;
	height: 75px;
    width: 100%;

}
.navdiv{
	display: flex;
}
.logo {
	
	line-height: 65px;
	padding-left: 50px;
}

.navbar li{
	list-style: none;
}
.navbar li a{
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	padding-left: 70px;

}

.navbar ul{
	display: flex;
	line-height: 70px;
	padding-left: 300px;

}


.left{
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 30px;
}
.right{
    float: left;
    width: 50%;
   color: white;
   background-color: transparent;
   margin-top: 40px;
   height: 400px;
}
.footer{
    width: 102%;
    background-color: rgb(31, 31, 31);
    margin-top: 25px;
}




.cards{
    background-image: url(images/gorvanance.jpeg);
    background-size: cover;
    height: 400px;
    width: 300px;
   
}
h2{
    font-size:x-large;
    color:darkblue;
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.main{ 
    background-color:white;
    border: 2px solid whitesmoke;
    margin: 7px;
    box-shadow: 1px 1px 5px 1px black;
  

}


button{
    background-color: RED;
    color: white;
    margin-left: 100px;
   
}
.card1{
    background-image: url(images/legislation.jpeg);
    background-size: cover;
    height: 400px;
    width: 300px;
}
.card2{
    background-image:url(images/contract.jpeg);
    background-size: cover;
    height: 400px;
    width: 300px;
}
.card3{
    background-image:url(images/effectively.jpeg);
    background-size: cover;
    height: 400px;
    width: 300px;
}
.all{
    display: flex;
    
}


.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content:center;
    text-align: center;
}
.first{
    text-align: center;
}
.card
    {
    margin: 20px;
    padding: 50px;
    width: 20%;
    }    
.button{
    background-color: beige;
    border-radius: 25px;
    border: 0px;
    padding: 5px;
}
.cardone{
    width: 400px;
    background-color: rgb(209, 209, 238);
    min-height: 50px;
}
.cardtwo{
    width: 400px;
    background-color: rgb(209, 209, 238);
    min-height: 100px;
}
.cardthree{
    width: 400px;
    background-color: rgb(209, 209, 238);
    min-height: 100px;
}
.cardfour{
    width: 400px;
    background-color: rgb(209, 209, 238);
    min-height: 100px;
}
.bottom{
    height: 200px;
    width:700px;
   text-align: center;
   background-color:skyblue;
   font-size: xx-large;
   border-radius: 20px;
}
.img{
    background-color: whitesmoke;
}

#request{
    padding: 10px 5%;
width: 100%;
height: 70vh;
background-color: #353535;
display: flex;
justify-content: space-between;
color: #fff;
}
.left-side img{
    padding-left: 150px;
    padding-top: 90px;
}
.left-side p{
    margin-top: 10px;
    padding-left: 177px;
    font-family: sans-serif;
    color:rgb(186, 186, 186);
}
.left-side button{
background-color: #353535;
height: 55px;
border: none;
font-size: 16px;
box-shadow: 4px 4px rgba(0,0,0,.3), -4px -4px rgba(0,0,0,.3);
color: rgb(186, 186, 186);
border-radius: 5px;
padding-left: 150px;
justify-content: center;
align-items: center;
text-align: center;

}
.right-side{
    display: flex;
    font-size: 15px;
    margin-top: 5%;
}
.right-side div{
    margin: 35px;
}
.right-side h4{
    margin-bottom: 20%;
}
.right-side p{
    line-height: 20px;
    color: rgb(143, 140, 140);
    padding-right: 130px;
}
.horizontal-line{
    width: 1px;
    background-color: darkgray;
    margin-top: 30px;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    width: 100%;
    background-color: #353535;
    color: white;
    height: 200px;
}
.icons i{
    margin: 10px;
    color: black;
    padding: 5px;
}
hr{
    border: 0.01px solid;
    color: rgb(75, 75, 75);
}

.map-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form1{
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-left: 20px;

}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 90px 0;

}

.box1 ,.box2, .box3{
    background-color:#fff;
    border-radius: 20px;
    font-size: large;
    font-weight: 500px;
    padding: 35px;
    width: 350px;
    text-align: center;
}